.facet-item.facet-item--expanded.collapsed > .facets-widget-{
  display: none;
}

.block-facets .collapsed > .js-collapsible-global-facet,
.block-facets .collapsed > .facets-soft-limit-link {
  display: none;
}
